.footer__column-link{
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 0px;
  margin: 0;
}
.footer__column-link:hover,
.footer__column-link:active {
  opacity: 0.5;
  transition: 1s;
}