.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  z-index: 3;
}
.feynman__link:hover,
.feynman__link:active {
  opacity: 0.5;
  transition: 1s;
}