.kaufman__triangle{
  animation: rotation 20s ease-in-out infinite;
  z-index: 0;
  position: absolute;
  background-image: url(../../../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  top:0px;
  right: -210px;
  background-size: cover;
}