.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  overflow: hidden;
  background-color: #f2f2f2;
}
.logo_place_header{
  z-index: 3;
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__title{
  z-index: 3;
  margin: auto;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
}
.header__subtitle{
  z-index: 3;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
}
.header__main-illustration{
  z-index: 2;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 765px;
  height: 608px;
}
.header__square-pic {
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color:  #2f80ed;
}
.header__link{
  color: #2f80ed;
  text-decoration: none;
}


.description{
  display: flex;
  justify-content: center;
}
.description__two-columns{
  display: flex;
  width: 80%;
  margin-top: 100px;
  justify-content: space-between;

}
.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #2f80ed;
  text-decoration: none;
}
.two-columns__main-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin:0;
}
.two-columns__paragraph:nth-of-type(2){
  margin-top: 30px;
  margin-bottom: 30px;
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
} 


.digits{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.section-title{
  width: 60%;
  line-height: 1.15;
  font-weight: bold;
  font-size: 64px;
  text-align: center;
}
.section-title_theme_white{
  margin-top: 100px;
  margin-bottom: 0;
}
.section-subtitle{
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.section-subtitle_theme_white{
  margin-top: 20px;
}
.table{
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table_theme_white{
  margin-bottom: 100px;
}
.table__cell_theme_white{
  margin-top: 60px;
  width: 250px;
  margin-bottom: 60px;
}
.table__cell_theme_white:nth-of-type(5){
  margin-bottom: 0px;
}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}
.table__text{
  line-height: 1.2;
  font-weight: normal;
  font-weight: 18px;
  margin: 0;
}
.table__bottom-text{
  margin-top: 20px;
}


.feynman{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 790px;
  overflow: hidden;
  background-color: #f2f2f2;
  z-index: 1;
}
.feynman__main-illustration{
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}
.feynman__title{
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px; 
  margin: 0 auto;
  z-index: 3;
}
.feynman__subtitle{
  margin: 0 auto;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
}
.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  z-index: 3;
}


.kaufman{
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:  #1f1f1f;
  overflow: hidden;
  z-index: 1;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  background-position: top right;
  background-repeat: no-repeat;
}
.section-title_theme_dark{
  z-index:3;
  margin-top: 90px;
  color: white;
}
.section-subtitle_theme_dark{
  z-index: 3;
  color: white;
  margin-bottom: 0px;
}
.table_theme_dark{
  z-index: 3;
  margin-bottom: 90px;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 0px;

}

.footer{
  min-height: 350px;
  display:flex;
  background-color: #1f1f1f ;
}
.footer__columns{
  display:flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
}
.footer__column_content_copyright{
  display:flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}
.logo_place_footer{
  width: 183px;
  height: 35px;
}
.footer__author{
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 18px;
  padding-bottom: 18px;
}
.footer__column{
  display: flex;
  flex-direction: column;
}
.footer__column-heading{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer__column-links{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 16px;
}
.footer__column-link{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  padding-left: 0px;
  margin: 0;
}
.footer__social-icon{
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
