.khan__buy-link{
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
}

.khan__buy-link:hover,
.khan__buy-link:active {
  opacity: 0.5;
  transition: 1s;
}